<%- include('../pages/layout_main') %>
<link rel="stylesheet" href="/css/style_mins_1_2.css">


    <% if (messages.success) { %>
        <div class="alert success"><%- messages.success %></div>
        <% } %>

            <% if (messages.error) { %>
                <div class="alert warning"><%- messages.error %></div>
                <% } %>

                    <form class="event-form" action="/events/booking" method="post" enctype="multipart/form-data">
                        <div>
                            <section class="form-section">
                                <fieldset>
                                    <legend>
                                        <h2>Submitter Information</h2>
                                    </legend>
                                    <div class="submitter-group">

                                        <input type="text" id="firstname" name="firstname" placeholder="First Name"
                                            required>

                                        <input type="text" id="middlename" placeholder="Middle Name" name="middlename">
                                    </div>
                                    <div class="form-group">

                                    </div>
                                    <div class="submitter-group">

                                        <input type="text" id="lastname" placeholder="Last Name" name="lastname"
                                            required>

                                        <input type="email" id="email" name="email" placeholder="Email" required>
                                    </div>
                                    <div class="form-group">

                                    </div>
                                    <div class="submitter-group">
                                        <input type="text" id="organization" name="organization"
                                            placeholder="Organization/Company" required>
                                        <input type="text" id="address" name="address" placeholder="Address" required>
                                        <input type="tel" id="phone" name="phone" placeholder="Phone Number" required>
                                    </div>
                                    <div class="submitter-group">
                                        <input type="tel" id="city" name="city" placeholder="City" required>
                                        <input type="tel" id="county" name="county" placeholder="County" required>
                                        <input type="text" id="org_location" name="org_location" placeholder="Location"
                                            required>
                                    </div>
                                </fieldset>
                            </section>

                            <section class="form-section">
                                <fieldset>
                                    <legend>
                                        <h2>Meeting/Event Information</h2>
                                    </legend>
                                    <div class="submitter-group">
                                        <input type="text" id="eventtitle" name="eventtitle" placeholder="Event Title"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label>Event Type:</label>
                                        <div class="checkbox-group">
                                            <input type="checkbox" id="outreach" name="outreach" value="outreach">
                                            <label for="outreach">Community Outreach</label>
                                        </div>
                                        <div class="checkbox-group">
                                            <input type="checkbox" id="support" name="support" value="support">
                                            <label for="support">Member Support</label>
                                        </div>
                                        <div class="checkbox-group">
                                            <input type="checkbox" id="networking" name="networking" value="networking">
                                            <label for="networking">Networking</label>
                                        </div>
                                        <div class="checkbox-group">
                                            <input type="checkbox" id="education" name="education" value="education">
                                            <label for="education">Education</label>
                                        </div>
                                        <div class="checkbox-group">
                                            <input type="checkbox" id="fundraising" name="fundraising"
                                                value="fundraising">
                                            <label for="fundraising">Fundraising</label>
                                        </div>
                                        <div class="checkbox-group">
                                            <input type="checkbox" id="eventothers" name="eventothers"
                                                value="eventothers">
                                            <label for="eventothers">Others</label>
                                        </div>
                                    </div>

                                    <div class="form-group-flex">
                                        <label for="eventlocation">Event Location:</label>
                                        <select name="eventlocation" id="eventlocation" required>
                                            <option value="">--Select Location--</option>
                                            <option value="nairobi">Nairobi</option>
                                            <option value="machakos">Machakos</option>
                                            <option value="mombasa">Mombasa</option>
                                            <option value="nakuru">Nakuru</option>
                                        </select>
                                        <label for="eventDate">Event Date:</label>
                                        <input type="date" id="eventDate" name="eventDate" required>
                                    </div>
                                    <label for="eventDate">All Day Event:</label>
                                    <div class="form-group-flex">
                                        <label for="yes">Yes:</label>
                                        <input type="radio" id="allDayYes" name="allDay" value="Yes">
                                        <label for="no">No:</label>
                                        <input type="radio" id="allDayNo" name="allDay" value="No">
                                    </div>

                                    <div class="form-group-flex">
                                        <label for="start">Event Start Time:</label>
                                        <input type="time" id="start" name="start" required>
                                        <label for="end">Event End Time:</label>
                                        <input type="time" id="end" name="end" required>
                                    </div>


                                    <div class="form-group-flex">
                                        <label for="repeating">Repeating Event:</label>
                                        <select name="repeating" id="repeating" required>
                                            <option value="">--Select --</option>
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>

                                        <input type="number" id="eventdays" placeholder="Days Booked" name="eventdays"
                                            required style="display: none;">
                                    </div>

                                    <div class="form-group">
                                        <label for="eventdescription">Description of Event:</label>
                                        <textarea id="eventdescription" name="eventdescription" rows="5"
                                            required></textarea>
                                    </div>
                                </fieldset>

                            </section>
                            <div class="form-group">
                                <input type="submit" value="Submit">
                            </div>
                    </form>
                    </div>
                    
                    <%- include('../pages/footer') %>