<%- include('pages/layout_main') %>

    <!-- <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll"
        data-image-src="/images/mice_back_logo2.png">
        <form class="d-flex tm-search-form">
            <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div> -->


    <div class="container-fluid tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">
                🌐 Welcome to One Solid Link: Where Your Vision Takes Flight!
            </h2>
        </div>
        <div class="row tm-mb-74 tm-row-1640">
            <div class="col-lg-5 col-md-6 col-12 mb-3">
                <img src="/images/mice_back_cover.png" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-7 col-md-6 col-12">
                <div class="tm-about-img-text">
                    <p class="mb-4">
                        One Solid Link</span> is a leading company in the Meetings, Incentives,
                        Conferences & Events (MICE) sector.
                        We specialize in providing comprehensive solutions for event planning and booking, catering to
                        the
                        unique needs of organization like yours </p>
                    <p>
                        At One Solid Link,</span> our commitment to excellence, innovation, and
                        customer satisfaction drives everything we do. We pride ourselves on being a reliable partner
                        that
                        understands your unique needs and delivers tailored solutions that exceed your expectations.
                        With
                        our
                        assistance, you can elevate your meetings into impactful and memorable experiences that foster
                        collaboration and growth.

                        We would be delighted to discuss how One Solid Link can support your organization's meeting
                        planning
                        and
                        venue selection needs. Please feel free to reach out to schedule a conversation at your
                        convenience.
                        We
                        look forward to the opportunity to collaborate and contribute to your success.

                        Thank you for considering One Solid Link. Together, let's transform your meetings into
                        remarkable
                        occasions.</p>
                    <!-- <p>You are <b>allowed</b> to use this template for your commercial or non-commercial websites. You
                        can integrate it with any kind of CMS website. You are <b>NOT allowed</b> to redistribute the
                        downloadable template ZIP file on any template collection website. Please <a rel="nofollow"
                            href="https://templatemo.com/contact" target="_parent">contact us</a> for more information.
                        Thank you.</p> -->
                </div>
            </div>
        </div>
        <div class="row tm-mb-50">
            <div class="col-md-6 col-12">
                <div class="tm-about-2-col">
                    <h2 class="tm-text-primary mb-4">
                        ✨ Our Commitment to Excellence:
                    </h2>
                    <p class="mb-4">
                        At the heart of One Solid Link is a commitment to excellence. We strive to exceed
                        expectations, delivering solutions that not only meet your needs but elevate your experience.
                        Whether you're seeking [specific products or services], we're here to redefine what's possible.
                    </p>
                    <!-- <p>
                        Suspendisse id consequat risus. Aliquam varius posuere nunc, nec imperdiet neque condimentum at.
                        Aenean porta eleifend venenatis. Orci varius natoque penatibus et magnis dis parturient montes,
                        nascetur ridiculus mus.
                    </p> -->
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="tm-about-2-col">
                    <h2 class="tm-text-primary mb-4">
                        🤝 Client-Centric Approach:
                    </h2>
                    <p class="mb-4">
                        Your satisfaction is our priority. From the initial consultation to the final delivery, our
                        client-centric approach ensures that your unique needs are not only met but exceeded. Your
                        success is our success, and we're here to support you every step of the way.
                    </p>
                    <!-- <p>
                        Suspendisse id consequat risus. Aliquam varius posuere nunc, nec imperdiet neque condimentum at.
                        Aenean porta eleifend venenatis. Orci varius natoque penatibus et magnis dis parturient montes,
                        nascetur ridiculus mus.
                    </p> -->
                </div>
            </div>
        </div> <!-- row -->
        <div class="row tm-mb-50">
            <h2 class="tm-text-primary mb-4">
                💡 Why Choose One Solid Link:
            </h2>
            <div class="col-md-4 col-12">
                <div class="tm-about-3-col">
                    <div class="tm-about-icon-container mb-5">
                        <i class="fas fa-desktop fa-3x tm-text-primary"></i>
                    </div>
                    <h2 class="tm-text-primary mb-4">🌟 Expert Team:</h2>
                    <p class="mb-4">Our team comprises industry experts, creative minds, and dedicated professionals
                        passionate about transforming your visions into reality.</p>

                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="tm-about-3-col">
                    <div class="tm-about-icon-container mb-5">
                        <i class="fas fa-mobile-alt fa-3x tm-text-primary"></i>
                    </div>
                    <h2 class="tm-text-primary mb-4">📈 Proven Track Record:</h2>
                    <p class="tm-mb-50">Years of experience and a track record of success speak to our ability to
                        deliver results that matter.</p>
                    <!-- <div class="text-center">
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div> -->
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="tm-about-3-col">
                    <div class="tm-about-icon-container mb-5">
                        <i class="fas fa-photo-video fa-3x tm-text-primary"></i>
                    </div>
                    <h2 class="tm-text-primary mb-4">🌟 Explore the Possibilities:</h2>
                    <p class="mb-4">Embark on a journey of endless possibilities with One Solid Link. Dive into our
                        website to explore our portfolio, learn about our services, and discover how we can empower your
                        success.</p>
                </div>
            </div>
        </div>
    </div> <!-- container-fluid, tm-container-content -->

    <%- include('pages/footer') %>