<%- include('pages/layout_mins') %>

<div class="containers" style="background-color:#f1f1f1; display: flex;">
    <div class="column-40">
        <img src="/images/image11.png" alt="App" width="335" height="971">
    </div>
    <div class="column-67">
        <h1 class="xlarge-font" style="color:rgba(255, 77, 0, 0.89);"><b>About Us.</b></h1>
        <!-- <h1 class="large-font" style="color:rgba(255, 77, 0, 0.89);"><b>About Us.</b></h1> -->
        <p><span style="font-size:24px">One Solid Link</span> is a leading company in the Meetings, Incentives,
            Conferences & Events (MICE) sector.
            We specialize in providing comprehensive solutions for event planning and booking, catering to the
            unique needs of organization like yours
        </p>
        <!-- <button class="button" style="background-color:red">Read More</button> -->
    </div>
</div>

<div class="containertop" style="display: flex;">
    
        <!-- Section 1 -->
        <div class="column-33">
            <div class="card">
                <!-- <h1 class="xlarge-font"><b>The App</b></h1> -->
                <h1 class="large-font" style="color: rgb(246, 118, 33);"><b>Venue Selection:</b></h1>
                <p>



                </p>
                <!-- <button class="button">Download Application</button> -->
            </div>
        </div>
        <!-- Section 2 -->
        <div class="column-33">
            <div class="card">
                <!-- Content for section 2 goes here -->
                <p>Finding the perfect venue can make a significant difference in the success of your event.
                    We leverage our extensive network and expertise to identify venues that align with your
                    vision,
                    budget, and logistical needs. Our goal is to provide you with a curated list of options that
                    meet your criteria,
                    saving you time and effort.</p>
            </div>
        </div>
        <!-- Section 3 -->
        <div class="column-33">
            <div class="card">
                <!-- Content for section 3 goes here -->
                <!-- <img src="/images/mice_bg_3.png" width="335" height="471"> -->
                <!-- <div class="image-slider">
                    <img src="/images/mice_events/image1.jpg" alt="Image 1">
                    <img src="/images/mice_events/image2.jpg" alt="Image 2">
                    <img src="/images/mice_events/image3.jpg" alt="Image 3">
                </div> -->
            </div>
        </div>
    
</div>

<div class="containermid" style="display: flex;">
    
        <!-- Section 1 -->
        <div class="column-33">
            <div class="card">
                <!-- <h1 class="xlarge-font"><b>The App</b></h1> -->
                <h1 class="large-font" style="color: rgb(246, 118, 33);"><b>Accomodation Management:</b></h1>
                <!-- <button class="button">Download Application</button> -->
            </div>
        </div>
        <!-- Section 2 -->
        <div class="column-33">
            <div class="card">
                <!-- Content for section 2 goes here -->
                <p>We handle all your accomodation requirements, which include securing special rates and
                    overseeing
                    room allocations for your event participants.</p>
            </div>
        </div>
        <!-- Section 3 -->
        <div class="column-33">
            <div class="card">
                <!-- Content for section 3 goes here -->
                <!-- <img src="/images/mice_bg_3.png" width="335" height="471"> -->
                <!-- <div class="image-sliderr">
                    <img src="/images/mice_events/hotel1.jpeg" alt="Image 1">
                    <img src="/images/mice_events/hotel2.jpeg" alt="Image 2">
                    <img src="/images/mice_events/hotel3.jpeg" alt="Image 3">
                    <img src="/images/mice_events/IMG-20231005-WA0025.jpg" alt="Image 4">
                </div> -->
            </div>
        </div>
    
</div>

<div class="containermidd" style="display: flex;">
    
        <!-- Section 1 -->
        <div class="column-33">
            <div class="card">
                <!-- <h1 class="xlarge-font"><b>The App</b></h1> -->
                <h1 class="large-font" style="color: rgb(246, 118, 33);"><b>Ancillary Services:</b></h1>
                <!-- <button class="button">Download Application</button> -->
            </div>
        </div>
        <!-- Section 2 -->
        <div class="column-33">
            <div class="card">
                <!-- Content for section 2 goes here -->
                <p>These include transportation arrangements, catering coodination, audiovisual support, and
                    more.
                </p>
            </div>
        </div>
        <!-- Section 3 -->
        <div class="column-33">
            <div class="card">
                <!-- Content for section 3 goes here -->
                <!-- <img src="/images/mice_bg_3.png" width="335" height="471"> -->
                <!-- <div class="image-sliderrr">
                    <img src="/images/mice_events/IMG-20231005-WA0021.jpg" alt="Image 1">
                    <img src="/images/mice_events/IMG-20231005-WA0022.jpg" alt="Image 2">
                    <img src="/images/mice_events/IMG-20231005-WA0023.jpg" alt="Image 3">
                    <img src="/images/mice_events/IMG-20231005-WA0024.jpg" alt="Image 4">
                </div> -->
            </div>
        </div>
   
</div>

<!-- The App Section -->
<div class="container">

    <div class="column-67">
        <h1 class="xlarge-font"><b></b></h1>
        <h1 class="large-font" style="color:MediumSeaGreen;"><b>Why choose us?</b></h1>
        <p><span style="font-size:36px">At One Solid Link,</span> our commitment to excellence, innovation, and
            customer satisfaction drives everything we do. We pride ourselves on being a reliable partner that
            understands your unique needs and delivers tailored solutions that exceed your expectations. With
            our
            assistance, you can elevate your meetings into impactful and memorable experiences that foster
            collaboration and growth.

            We would be delighted to discuss how One Solid Link can support your organization's meeting planning
            and
            venue selection needs. Please feel free to reach out to schedule a conversation at your convenience.
            We
            look forward to the opportunity to collaborate and contribute to your success.

            Thank you for considering One Solid Link. Together, let's transform your meetings into remarkable
            occasions.
        </p>
        <!-- <button class="button">Download Application</button> -->
    </div>
    <div class="column-34">
        <!-- <img src="/images/image11.png" alt="App" width="335" height="471"> -->
    </div>

</div>
<%- include('pages/footer') %>