<%- include('pages/layout_main') %>
    
    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll"
        data-image-src="/img/hotel_2.jpg">
        <form class="d-flex tm-search-form">
            <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>

    <div class="row tm-mb-50">
        <div class="col-md-6 col-12">
            <div class="tm-about-2-col">
                <h2 class="tm-text-primary mb-4">
                    🌟 Welcome to Your Home Away From Home at One Solid Link!
                </h2>
                <p class="mb-4">
                    Discover a haven of comfort and luxury at One Solid Link. Nestled at any location
                    , our accommodations are designed with your utmost relaxation and satisfaction in mind.
                </p>
                <!-- <p>
                    Suspendisse id consequat risus. Aliquam varius posuere nunc, nec imperdiet neque condimentum at.
                    Aenean porta eleifend venenatis. Orci varius natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus.
                </p> -->
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="tm-about-2-col">
                <h2 class="tm-text-primary mb-4">
                    🏡 Our Accommodations: A Symphony of Comfort and Style
                </h2>
                <p class="mb-4">
                    Step into a world of elegance where every detail has been thoughtfully curated to enhance your stay.
                    From spacious suites to cozy rooms, we offer a range of accommodations to suit every traveler's
                    needs.
                </p>
                <div class="text-center">
                    <a href="/hotels/hotelManagement" class="btn btn-primary">Read More</a>
                </div>
                <!-- <p>
                    Suspendisse id consequat risus. Aliquam varius posuere nunc, nec imperdiet neque condimentum at.
                    Aenean porta eleifend venenatis. Orci varius natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus.
                </p> -->
            </div>
        </div>
    </div>

    <div class="row tm-mb-50">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">
                ✨ Key Features:
            </h2>
        </div>
        <div class="col-md-4 col-12">
            <div class="tm-about-3-col">
                <div class="tm-about-icon-container mb-5">
                    <i class="fas fa-desktop fa-3x tm-text-primary"></i>
                </div>
                <h2 class="tm-text-primary mb-4">🛏️ Luxurious Bedrooms: </h2>
                <p class="mb-4"> Drift into a restful sleep in our plush beds adorned with soft linens. Our bedrooms are
                    a sanctuary of tranquility, ensuring you wake up rejuvenated and ready to seize the day.
                </p>

            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="tm-about-3-col">
                <div class="tm-about-icon-container mb-5">
                    <i class="fas fa-mobile-alt fa-3x tm-text-primary"></i>
                </div>
                <h2 class="tm-text-primary mb-4">🛀 Spa-like Bathrooms:</h2>
                <p class="tm-mb-50">Immerse yourself in the luxury of our spa-inspired bathrooms. Pamper yourself with
                    premium amenities and unwind in style after a day of exploration or business meetings.</p>
                <!-- <div class="text-center">
                    <a href="#" class="btn btn-primary">Read More</a>
                </div> -->
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="tm-about-3-col">
                <div class="tm-about-icon-container mb-5">
                    <i class="fas fa-photo-video fa-3x tm-text-primary"></i>
                </div>
                <h2 class="tm-text-primary mb-4">🍽️ Dining Delights: </h2>
                <p class="mb-4">Savor exquisite culinary experiences without leaving the comfort of our accommodation.
                    From in-room dining to our on-site restaurant, we offer a variety of dining options to satisfy your
                    palate.</p>
            </div>
        </div>
    </div>
    </div>

    <%- include('pages/footer') %>