<%- include('pages/header') %>
    <div id="home" class="slider-area">
        <div class="bd-example">
            <div id="carouselOne" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselOne" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselOne" data-slide-to="1"></li>
                    <li data-target="#carouselOne" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="carousel-item bg_cover active"
                        style="background-image: url(images/mice_events/img-11.jpg)">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-xl-6 col-lg-7 col-sm-10">
                                        <h2 class="carousel-title">Time for your next conference</h2>
                                        <ul class="carousel-btn rounded-buttons">
                                            <li><a class="main-btn rounded-three" href="#">Let us plan it for you
                                                    for free!</a></li>
                                            <li><a class="main-btn rounded-one" href="/events/book">Book Now</a></li>
                                        </ul>
                                    </div>
                                </div> <!-- row -->
                            </div> <!-- container -->
                        </div> <!-- carousel caption -->
                    </div> <!-- carousel-item -->

                </div> <!-- carousel -->
            </div> <!-- bd-example -->
        </div>

        </section>

        <!--====== NAVBAR PART ENDS ======-->

        <!--====== SAIDEBAR PART START ======-->

        <div class="sidebar-right">
            <div class="sidebar-close">
                <a class="close" href="#close"><i class="lni-close"></i></a>
            </div>
            <div class="sidebar-content">
                <div class="sidebar-logo text-center">
                    <a href="#"><img src="/assets/images/logo-alt.png" alt="Logo"></a>
                </div> <!-- logo -->
                <div class="sidebar-menu">
                    <ul>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">SERVICES</a></li>
                        <li><a href="#">RESOURCES</a></li>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
                </div> <!-- menu -->
                <div class="sidebar-social d-flex align-items-center justify-content-center">
                    <span>FOLLOW US</span>
                    <ul>
                        <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                        <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                    </ul>
                </div> <!-- sidebar social -->
            </div> <!-- content -->
        </div>
        <div class="overlay-right"></div>

        <!--====== SAIDEBAR PART ENDS ======-->

        <!--====== ABOUT PART START ======-->

        <section id="about" class="about-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8">
                        <div class="about-image text-center wow fadeInUp" data-wow-duration="1.5s"
                            data-wow-offset="100">
                            <img src="/images/mice_events/img-13.jpg" alt="services">
                        </div>
                        <div class="section-title text-center mt-30 pb-40">
                            <h4 class="title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.6s">Meetings made
                                easy
                            </h4>
                            <p class="text wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s">Are you looking
                                for
                                guidance with planning your next event or conference? Look no further! Here at One Solid
                                Link We've got the resources to help make your booking process easier. From finding the
                                perfect hotel facilities, to reserving meeting spaces and organizing travel
                                arrangements; we
                                have everything covered so that you can focus on networking and making great connections
                                at
                                conferences and events.</p>
                        </div> <!-- section title -->
                    </div>
                </div> <!-- row -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.5s"
                            data-wow-delay="1.2s">
                            <div class="about-icon">
                                <img src="/assets/images/icon-1.png" alt="Icon">
                            </div>
                            <div class="about-content media-body">
                                <h4 class="about-title">Unlock the potential of seamless meetings </h4>
                                <p class="text">Elevate your events to extraordinary with our expert meeting planning
                                    services.</p>
                            </div>
                        </div> <!-- single about -->
                    </div>
                    <div class="col-lg-6">
                        <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.5s"
                            data-wow-delay="1.4s">
                            <div class="about-icon">
                                <img src="/assets/images/icon-2.png" alt="Icon">
                            </div>
                            <div class="about-content media-body">
                                <h4 class="about-title">Elevate your conferencing experience</h4>
                                <p class="text">Transform your gatherings into dynamic and engaging conferences with one
                                    solid link. </p>
                            </div>
                        </div> <!-- single about -->
                    </div>
                    <div class="col-lg-6">
                        <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.5s"
                            data-wow-delay="1.6s">
                            <div class="about-icon">
                                <img src="/assets/images/icon-3.png" alt="Icon">
                            </div>
                            <div class="about-content media-body">
                                <h4 class="about-title">Crafting memorable moments </h4>
                                <p class="text">We turn your dreams into reality with our exceptional event planning
                                    services. Whether it's a wedding, corporate gathering, or special celebration, our
                                    team of experts transforms your vision into a stunning reality.</p>
                            </div>
                        </div> <!-- single about -->
                    </div>
                    <div class="col-lg-6">
                        <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.5s"
                            data-wow-delay="1.8s">
                            <div class="about-icon">
                                <img src="/assets/images/icon-4.png" alt="Icon">
                            </div>
                            <div class="about-content media-body">
                                <h4 class="about-title">Accommodations</h4>
                                <p class="text">Understand how we handle all your accommodation needs, securing special
                                    rates and managing room allocations for event participants. Hotel partners: learn
                                    about our network of partner hotels and the benefits of booking through one solid
                                    link</p>
                            </div>
                        </div> <!-- single about -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </section>

        <!--====== ABOUT PART ENDS ======-->

        <!--====== portfolio PART START ======-->

        <section id="portfolio" class="portfolio-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title text-center pb-20">
                            <h3 class="title">PORTFOLIO</h3>
                            <p class="text">We'll handle your meetings for you</p>
                        </div> <!-- row -->
                    </div>
                </div> <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="portfolio-menu pt-30 text-center">
                            <ul>
                                <li data-filter="*" class="active">ALL WORK</li>
                                <li data-filter=".branding-3">Venue finding</li>
                                <li data-filter=".marketing-3">Anciliary services</li>
                                <li data-filter=".planning-3">Onsite support</li>
                                <li data-filter=".research-3">Hotel Bookings</li>
                            </ul>
                        </div> <!-- portfolio menu -->
                    </div>
                </div> <!-- row -->
                <div class="row grid">
                    <div class="col-lg-4 col-sm-6 branding-3 ">
                        <div class="single-portfolio mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
                            <div class="portfolio-image">
                                <img src="/assets/images/portfolio-1.png" alt="">
                                <div class="portfolio-overlay d-flex align-items-center justify-content-center">
                                    <div class="portfolio-content">
                                        <div class="portfolio-icon">
                                            <a class="image-popup" href="/assets/images/portfolio-1.png"><i
                                                    class="lni-zoom-in"></i></a>
                                        </div>
                                        <div class="portfolio-icon">
                                            <a href="#"><i class="lni-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-text">
                                <h4 class="portfolio-title"><a href="#">Free venue finding</a></h4>
                                <p class="text">We assist clients in finding the perfect venue for their events,
                                    considering
                                    factors such as capacity, location, and budget.</p>
                            </div>
                        </div> <!-- single portfolio -->
                    </div>
                    <div class="col-lg-4 col-sm-6 marketing-3">
                        <div class="single-portfolio mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                            <div class="portfolio-image">
                                <img src="/assets/images/portfolio-2.png" alt="">
                                <div class="portfolio-overlay d-flex align-items-center justify-content-center">
                                    <div class="portfolio-content">
                                        <div class="portfolio-icon">
                                            <a class="image-popup" href="/assets/images/portfolio-2.png"><i
                                                    class="lni-zoom-in"></i></a>
                                        </div>
                                        <div class="portfolio-icon">
                                            <a href="#"><i class="lni-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-text">
                                <h4 class="portfolio-title"><a href="#">Anciliary services</a></h4>
                                <p class="text">Our ancillary services include transportation, catering, audiovisual
                                    equipment rental, and event marketing.</p>
                            </div>
                        </div> <!-- single portfolio -->
                    </div>
                    <div class="col-lg-4 col-sm-6 branding-3">
                        <div class="single-portfolio mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.7s">
                            <div class="portfolio-image">
                                <img src="/assets/images/portfolio-3.png" alt="">
                                <div class="portfolio-overlay d-flex align-items-center justify-content-center">
                                    <div class="portfolio-content">
                                        <div class="portfolio-icon">
                                            <a class="image-popup" href="/assets/images/portfolio-3.png"><i
                                                    class="lni-zoom-in"></i></a>
                                        </div>
                                        <div class="portfolio-icon">
                                            <a href="#"><i class="lni-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-text">
                                <h4 class="portfolio-title"><a href="#">Branding</a></h4>
                                <p class="text">Test 1</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 planning-3">
                        <div class="single-portfolio mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
                            <div class="portfolio-image">
                                <img src="/assets/images/portfolio-4.png" alt="">
                                <div class="portfolio-overlay d-flex align-items-center justify-content-center">
                                    <div class="portfolio-content">
                                        <div class="portfolio-icon">
                                            <a class="image-popup" href="/assets/images/portfolio-4.png"><i
                                                    class="lni-zoom-in"></i></a>
                                        </div>
                                        <div class="portfolio-icon">
                                            <a href="#"><i class="lni-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-text">
                                <h4 class="portfolio-title"><a href="#">Free onsite support</a></h4>
                                <p class="text">We provide on-site support throughout the event, ensuring everything
                                    runs
                                    smoothly and addressing any issues that may arise.</p>
                            </div>
                        </div> <!-- single portfolio -->
                    </div>
                    <div class="col-lg-4 col-sm-6 research-3">
                        <div class="single-portfolio mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                            <div class="portfolio-image">
                                <img src="/assets/images/portfolio-5.png" alt="">
                                <div class="portfolio-overlay d-flex align-items-center justify-content-center">
                                    <div class="portfolio-content">
                                        <div class="portfolio-icon">
                                            <a class="image-popup" href="/assets/images/portfolio-5.png"><i
                                                    class="lni-zoom-in"></i></a>
                                        </div>
                                        <div class="portfolio-icon">
                                            <a href="#"><i class="lni-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-text">
                                <h4 class="portfolio-title"><a href="#">Hotel Bookings</a></h4>
                                <p class="text">We manage accommodations for event attendees, negotiating rates and
                                    ensuring
                                    a seamless booking process.</p>
                            </div>
                        </div> <!-- single portfolio -->
                    </div>
                    <div class="col-lg-4 col-sm-6 planning-3">
                        <div class="single-portfolio mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.7s">
                            <div class="portfolio-image">
                                <img src="/assets/images/portfolio-6.png" alt="">
                                <div class="portfolio-overlay d-flex align-items-center justify-content-center">
                                    <div class="portfolio-content">
                                        <div class="portfolio-icon">
                                            <a class="image-popup" href="/assets/images/portfolio-6.png"><i
                                                    class="lni-zoom-in"></i></a>
                                        </div>
                                        <div class="portfolio-icon">
                                            <a href="#"><i class="lni-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-text">
                                <h4 class="portfolio-title"><a href="#">Test3</a></h4>
                                <p class="text"> Awesome!</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </section>

        <!--====== portfolio PART ENDS ======-->

        <!--====== PRINICNG STYLE EIGHT START ======-->

        <section id="pricing" class="pricing-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title text-center pb-20">
                            <h3 class="title">Free Venue finding Services</h3>
                            <p class="text">Stop wasting time and money Happiness guaranteed!</p>
                        </div> <!-- section title -->
                    </div>
                </div> <!-- row -->
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="pricing-style-one mt-40 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.2s">
                            <div class="pricing-icon text-center">
                                <img src="/assets/images/wman.svg" alt="">
                            </div>
                            <div class="pricing-header text-center">
                                <h5 class="sub-title">Conferencing services</h5>
                            </div>
                            <div class="pricing-list">
                                <ul>
                                    <li><i class="lni-check-mark-circle"></i> Free venue finding</li>
                                    <li><i class="lni-check-mark-circle"></i> Free onsite support</li>
                                    <li><i class="lni-check-mark-circle"></i> Free icebreakers</li>
                                    <li><i class="lni-check-mark-circle"></i> Free morning and evening activities</li>
                                </ul>
                            </div>
                            <div class="pricing-btn rounded-buttons text-center">
                                <a class="main-btn rounded-three" href="/events/book">BOOK NOW</a>
                            </div>
                        </div> <!-- pricing style one -->
                    </div>

                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="pricing-style-one mt-40 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
                            <div class="pricing-icon text-center">
                                <img src="/assets/images/wman.svg" alt="">
                            </div>
                            <div class="pricing-header text-center">
                                <h5 class="sub-title">Outdoor events</h5>
                            </div>
                            <div class="pricing-list">
                                <ul>
                                    <li><i class="lni-check-mark-circle"></i> Free event consultation</li>
                                    <li><i class="lni-check-mark-circle"></i> Venue finding services</li>
                                    <li><i class="lni-check-mark-circle"></i> Photography coverage</li>
                                    <li><i class="lni-check-mark-circle"></i> Transport cordination</li>
                                </ul>
                            </div>
                            <div class="pricing-btn rounded-buttons text-center">
                                <a class="main-btn rounded-three" href="#">BOOK NOW</a>
                            </div>
                        </div> <!-- pricing style one -->
                    </div>

                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="pricing-style-one mt-40 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.8s">
                            <div class="pricing-icon text-center">
                                <img src="/assets/images/wman.svg" alt="">
                            </div>
                            <div class="pricing-header text-center">
                                <h5 class="sub-title">Team building facilitation</h5>
                            </div>
                            <div class="pricing-list">
                                <ul>
                                    <li><i class="lni-check-mark-circle"></i> Venue finding services</li>
                                    <li><i class="lni-check-mark-circle"></i> Staff assessment</li>
                                    <li><i class="lni-check-mark-circle"></i> Program designing</li>
                                    <li><i class="lni-check-mark-circle"></i> Feedback and recommendation</li>
                                    <li><i class="lni-check-mark-circle"></i> Choice group activity</li>
                                </ul>
                            </div>
                            <div class="pricing-btn rounded-buttons text-center">
                                <a class="main-btn rounded-three" href="#">BOOK NOW</a>
                            </div>
                        </div> <!-- pricing style one -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </section>

        <!--====== PRINICNG STYLE EIGHT ENDS ======-->

        <!--====== CALL TO ACTION TWO PART START ======-->

        <section id="call-action" class="call-action-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="call-action-content mt-45">
                            <h3 class="action-title">Get latest updates!</h3>
                            <p class="text">We never spam your email</p>
                        </div> <!-- call action content -->
                    </div>
                    <div class="col-lg-7">
                        <div class="call-action-form mt-50">
                            <form action="#">
                                <input type="text" placeholder="Enter your email">
                                <div class="action-btn rounded-buttons">
                                    <button class="main-btn rounded-three">subscribe</button>
                                </div>
                            </form>
                        </div> <!-- call action form -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </section>

        <!--====== CALL TO ACTION TWO PART ENDS ======-->

        <!--====== TESTIMONIAL THREE PART START ======-->

        <section id="testimonial" class="testimonial-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title text-center pb-20">
                            <h3 class="title">Testimonial</h3>
                            <p class="text">Happiness guaranteed!</p>
                        </div> <!-- section title -->
                    </div>
                </div> <!-- row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="row testimonial-active">
                            <div class="col-lg-4">
                                <div class="single-testimonial mt-30 mb-30 text-center">
                                    <div class="testimonial-image">
                                        <img src="/assets/images/author-3.jpg" alt="Author">
                                    </div>
                                    <div class="testimonial-content">
                                        <p class="text">Stop wasting time and money designing and managing a website
                                            that
                                            doesn’t get results. Happiness guaranteed! Stop wasting time and money
                                            designing
                                            and managing a website that doesn’t get results. Happiness guaranteed!</p>
                                        <h6 class="author-name">Isabela Moreira</h6>
                                        <span class="sub-title">CEO, GrayGrids</span>
                                    </div>
                                </div> <!-- single testimonial -->
                            </div>
                            <div class="col-lg-4">
                                <div class="single-testimonial mt-30 mb-30 text-center">
                                    <div class="testimonial-image">
                                        <img src="/assets/images/author-1.jpg" alt="Author">
                                    </div>
                                    <div class="testimonial-content">
                                        <p class="text">Stop wasting time and money designing and managing a website
                                            that
                                            doesn’t get results. Happiness guaranteed! Stop wasting time and money
                                            designing
                                            and managing a website that doesn’t get results. Happiness guaranteed!</p>
                                        <h6 class="author-name">Fiona</h6>
                                        <span class="sub-title">Lead Designer, UIdeck</span>
                                    </div>
                                </div> <!-- single testimonial -->
                            </div>
                            <div class="col-lg-4">
                                <div class="single-testimonial mt-30 mb-30 text-center">
                                    <div class="testimonial-image">
                                        <img src="/assets/images/author-2.jpg" alt="Author">
                                    </div>
                                    <div class="testimonial-content">
                                        <p class="text">Stop wasting time and money designing and managing a website
                                            that
                                            doesn’t get results. Happiness guaranteed! Stop wasting time and money
                                            designing
                                            and managing a website that doesn’t get results. Happiness guaranteed!</p>
                                        <h6 class="author-name">Elon Musk</h6>
                                        <span class="sub-title">CEO, SpaceX</span>
                                    </div>
                                </div> <!-- single testimonial -->
                            </div>
                            <div class="col-lg-4">
                                <div class="single-testimonial mt-30 mb-30 text-center">
                                    <div class="testimonial-image">
                                        <img src="/assets/images/author-4.jpg" alt="Author">
                                    </div>
                                    <div class="testimonial-content">
                                        <p class="text">Stop wasting time and money designing and managing a website
                                            that
                                            doesn’t get results. Happiness guaranteed! Stop wasting time and money
                                            designing
                                            and managing a website that doesn’t get results. Happiness guaranteed!</p>
                                        <h6 class="author-name">Fajar Siddiq</h6>
                                        <span class="sub-title">CEO, MakerFlix</span>
                                    </div>
                                </div> <!-- single testimonial -->
                            </div>
                        </div> <!-- row -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </section>

        <!--====== TESTIMONIAL THREE PART ENDS ======-->

        <!--====== CLIENT LOGO PART START ======-->

        <section id="client" class="client-logo-area">
            <div class="container">
                <div class="row client-active">
                    <div class="col-lg-3">
                        <div class="single-client text-center">
                            <img src="/assets/images/client_logo_01.png" alt="Logo">
                        </div> <!-- single client -->
                    </div>
                    <div class="col-lg-3">
                        <div class="single-client text-center">
                            <img src="assets/images/client_logo_02.png" alt="Logo">
                        </div> <!-- single client -->
                    </div>
                    <div class="col-lg-3">
                        <div class="single-client text-center">
                            <img src="/assets/images/client_logo_03.png" alt="Logo">
                        </div> <!-- single client -->
                    </div>
                    <div class="col-lg-3">
                        <div class="single-client text-center">
                            <img src="/assets/images/client_logo_04.png" alt="Logo">
                        </div> <!-- single client -->
                    </div>
                    <div class="col-lg-3">
                        <div class="single-client text-center">
                            <img src="/assets/images/client_logo_05.png" alt="Logo">
                        </div> <!-- single client -->
                    </div>
                    <div class="col-lg-3">
                        <div class="single-client text-center">
                            <img src="/assets/images/client_logo_06.png" alt="Logo">
                        </div> <!-- single client -->
                    </div>
                    <div class="col-lg-3">
                        <div class="single-client text-center">
                            <img src="/assets/images/client_logo_07.png" alt="Logo">
                        </div> <!-- single client -->
                    </div>
                    <div class="col-lg-3">
                        <div class="single-client text-center">
                            <img src="/assets/images/client_logo_08.png" alt="Logo">
                        </div> <!-- single client -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </section>

        <!--====== CLIENT LOGO PART ENDS ======-->

        <!--====== CONTACT TWO PART START ======-->

        <section id="contact" class="contact-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title text-center pb-20">
                            <h3 class="title">Get in touch</h3>
                            <p class="text">Stop wasting time and money designing and managing a website that doesn’t
                                get
                                results. Happiness guaranteed!</p>
                        </div> <!-- section title -->
                    </div>
                </div> <!-- row -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="contact-two mt-50 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.2s">
                            <h4 class="contact-title">Lets talk about the project</h4>
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam unde
                                repellendus
                                delectus facilis quia consequatur maxime perferendis! Sequi, modi consequatur.</p>
                            <ul class="contact-info">
                                <li><i class="lni-money-location"></i> Mavoko, Athi River, Kenya</li>
                                <li><i class="lni-phone-handset"></i>Telephone: +254705679853</li>
                                <li><i class="lni-phone-handset"></i>Mobile: +254757553539</li>
                                <li><i class="lni-envelope"></i> info@onesolidlink.com</li>
                            </ul>
                        </div> <!-- contact two -->
                    </div>
                    <div class="col-lg-6">
                        <div class="contact-form form-style-one mt-35 wow fadeIn" data-wow-duration="1.5s"
                            data-wow-delay="0.5s">
                            <form id="contact-form" action="/assets/contact.php" method="post">
                                <div class="form-input mt-15">
                                    <label>Name</label>
                                    <div class="input-items default">
                                        <input type="text" placeholder="Name" name="name">
                                        <i class="lni-user"></i>
                                    </div>
                                </div> <!-- form input -->
                                <div class="form-input mt-15">
                                    <label>Email</label>
                                    <div class="input-items default">
                                        <input type="email" placeholder="Email" name="email">
                                        <i class="lni-envelope"></i>
                                    </div>
                                </div> <!-- form input -->
                                <div class="form-input mt-15">
                                    <label>Massage</label>
                                    <div class="input-items default">
                                        <textarea placeholder="Massage" name="massage"></textarea>
                                        <i class="lni-pencil-alt"></i>
                                    </div>
                                </div> <!-- form input -->
                                <p class="form-message"></p>
                                <div class="form-input rounded-buttons mt-20">
                                    <button type="submit" class="main-btn rounded-three">Submit</button>
                                </div> <!-- form input -->
                            </form>
                        </div> <!-- contact form -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </section>

        <!--====== CONTACT TWO PART ENDS ======-->
        <%- include('pages/footers') %>