<%- include('pages/layout_main') %>
    

    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll"
        data-image-src="/images/mice_back_logo2.png">
        <!-- <form class="d-flex tm-search-form">
            <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form> -->
    </div>

    <div class="container-fluid tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">
                One Solid Link
            </h2>
        </div>

        <div class="row tm-mb-74 tm-row-1640">
            <div class="col-lg-5 col-md-6 col-12 mb-3">
                <img src="/images/mice_back_cover.png" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-7 col-md-6 col-12">
                <div class="tm-about-img-text">
                    <p class="mb-4">
                        <b>One Solid Link</b> is a leading company dedicated to simplifying the process of meeting
                        planning,
                        venue selection, and team-building facilitation.
                    </p>
                    <p>
                        We understand the challenges organizations face
                        when arranging events and have developed a comprehensive suite of services to ensure success.
                    </p>
                    <p>our <b>mission</b> is to make event planning easy, efficient, and
                        enjoyable for our clients. Our Team: Meet the passionate individuals behind One Solid Link who
                        are committed to providing top-notch services for your events.</p>
                </div>
            </div>
        </div>

    </div> <!-- container-fluid, tm-container-content -->
    <div class="container-fluid tm-mt-60">

    </div>

    <div class="container tm-mt-60">
        <center>
            <h2> MEETINGS</h2>
            <!-- <p> The text over the below image is coming by using the "card-img-overlay" class. </p> -->
            <div class="card w-40 d-block mx-auto">
                <img style="height: 400px; width: 1300px;" class="card-img-top" src="img/MeetingRoomBooking.png"
                    alt="Tutorialspoint Logo">
                <p class="card-img-overlay  text-center text-white ">
                    UNLOCK THE POTENTIAL OF SEAMLESS MEETINGS - ELEVATE YOUR EVENTS TO EXTRAORDINARY WITH OUR EXPERT
                    MEETING PLANNING SERVICES. AT ONE SOLID LINK, WE'RE COMMITTED TO CRAFTING METICULOUSLY ORCHESTRATED
                    MEETINGS THAT LEAVE A LASTING IMPACT. FROM VENUE SELECTION TO CUTTING-EDGE TECHNOLOGY, WE TAKE CARE
                    OF EVERY DETAIL, ENSURING YOUR MEETINGS ARE STRESS-FREE AND HIGHLY PRODUCTIVE. DISCOVER THE ART OF
                    EFFORTLESS EVENT PLANNING WITH ONE SOLID LINK. YOUR SUCCESS IS OUR MISSION. </p>
                <!-- <a class="card-img-overlay text-center pt-5" href="#"> This is the overlay link. </a> -->
            </div>
        </center>
    </div>

    <div class="container tm-mt-60">
        <center>
            <h2>INCENTIVE</h2>
            <!-- <p> The text over the below image is coming by using the "card-img-overlay" class. </p> -->
            <div class="card w-40 d-block mx-auto">
                <img style="height: 400px; width: 1300px;" class="card-img-top"
                    src="/img/christin-hume-Hcfwew744z4-unsplash.jpg" alt="Tutorialspoint Logo">
                <p class="card-img-overlay text-center text-white"> INSPIRE EXCELLENCE, REWARD SUCCESS - ELEVATE YOUR
                    BUSINESS WITH
                    OUR INCENTIVE SOLUTIONS. AT ONE SOLID LINK, WE SPECIALIZE IN DRIVING MOTIVATION, PRODUCTIVITY, AND
                    EMPLOYEE ENGAGEMENT THROUGH TAILOR-MADE INCENTIVE PROGRAMS. OUR CREATIVE REWARDS AND RECOGNITION
                    INITIATIVES EMPOWER YOUR TEAM TO EXCEL, ACHIEVING THEIR GOALS AND BEYOND. WHETHER IT'S BOOSTING
                    SALES, ENHANCING PERFORMANCE, OR FOSTERING A CULTURE OF EXCELLENCE, WE'RE YOUR PARTNER IN SUCCESS.
                    UNLEASH THE POTENTIAL OF YOUR ORGANIZATION WITH ONE SOLID LINK. YOUR GOALS, OUR INCENTIVES, ENDLESS
                    ACHIEVEMENTS. </p>
                <!-- <a class="card-img-overlay text-center pt-5" href="#"> This is the overlay link. </a> -->
            </div>
        </center>
    </div>

    <div class="container tm-mt-60">
        <center>
            <h2> CONFERENCING </h2>
            <!-- <p> The text over the below image is coming by using the "card-img-overlay" class. </p> -->
            <div class="card w-40 d-block mx-auto">
                <img style="height: 400px; width: 1300px;" class="card-img-top"
                    src="/img/chuttersnap-Q_KdjKxntH8-unsplash.jpg" alt="Tutorialspoint Logo">
                <p class="card-img-overlay text-center text-white">ELEVATE YOUR CONFERENCING EXPERIENCE - TRANSFORM YOUR
                    GATHERINGS INTO DYNAMIC AND ENGAGING CONFERENCES WITH ONE SOLID LINK. OUR COMMITMENT TO EXCELLENCE
                    AND INNOVATIVE SOLUTIONS ENSURES YOUR CONFERENCES RUN SEAMLESSLY, WHETHER IT'S A CORPORATE SUMMIT,
                    INDUSTRY SEMINAR, OR PRODUCT LAUNCH. FROM STATE-OF-THE-ART VENUES TO TOP-NOTCH AUDIOVISUAL SUPPORT,
                    WE'VE GOT ALL THE ELEMENTS TO MAKE YOUR CONFERENCE UNFORGETTABLE. PARTNER WITH US AND REDEFINE THE
                    WAY YOU CONFER. YOUR SUCCESS, OUR EXPERTISE. </p>
                <!-- <a class="card-img-overlay text-center pt-5" href="#"> This is the overlay link. </a> -->
            </div>
        </center>
    </div>

    <div class="container tm-mt-60">
        <center>
            <h2> EVENTS </h2>
            <!-- <p> The text over the below image is coming by using the "card-img-overlay" class. </p> -->
            <div class="card w-40 d-block mx-auto">
                <img style="height: 400px; width: 1300px;" class="card-img-top"
                    src="/img/ibrahim-boran-m8YjB0noWiY-unsplash.jpg" alt="Tutorialspoint Logo">
                <p class="card-img-overlay text-center text-white"> CRAFTING MEMORABLE MOMENTS - AT ONE SOLID LINK, WE
                    TURN YOUR DREAMS INTO REALITY WITH OUR EXCEPTIONAL EVENT PLANNING SERVICES. WHETHER IT'S A WEDDING,
                    CORPORATE GATHERING, OR SPECIAL CELEBRATION, OUR TEAM OF EXPERTS TRANSFORMS YOUR VISION INTO A
                    STUNNING REALITY. FROM VENUE SELECTION TO CREATIVE DESIGN AND FLAWLESS EXECUTION, WE'RE COMMITTED TO
                    CREATING MEMORABLE MOMENTS THAT LEAVE A LASTING IMPRESSION. PARTNER WITH US TO MAKE YOUR EVENT
                    EXTRAORDINARY. YOUR VISION, OUR EXPERTISE. </p>
                <!-- <a class="card-img-overlay text-center pt-5" href="#"> This is the overlay link. </a> -->
            </div>
        </center>
    </div>

    <div class="container tm-mt-60">
        <center>
            <h2> ACCOMODATION </h2>
            <!-- <p> The text over the below image is coming by using the "card-img-overlay" class. </p> -->
            <div class="card w-40 d-block mx-auto">
                <img style="height: 400px; width: 1300px;" class="card-img-top"
                    src="/IMG/holels_1.jpeg" alt="Tutorialspoint Logo">
                <p class="card-img-overlay text-center text-white"> UNDERSTAND HOW WE HANDLE ALL YOUR ACCOMMODATION
                    NEEDS, SECURING SPECIAL RATES AND MANAGING ROOM ALLOCATIONS FOR EVENT PARTICIPANTS.
                    HOTEL PARTNERS: LEARN ABOUT OUR NETWORK OF PARTNER HOTELS AND THE BENEFITS OF BOOKING THROUGH ONE
                    SOLID LINK.
                </p>
                <!-- <a class="card-img-overlay text-center pt-5" href="#"> This is the overlay link. </a> -->
            </div>
        </center>
    </div>

    <!-- <div class="container-fluid tm-mt-60">
        <div class="bg-image" style="max-width: 22rem;">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/053.webp" class="w-100" />
            <div class="mask text-light d-flex justify-content-center flex-column text-center"
                style="background-color: rgba(0, 0, 0, 0.5)">
                <h4>Custom heading</h4>
                <p class="m-0">paragraph</p>
            </div>
        </div>
    </div>

    <div class="card bg-dark text-white" style="max-width: 600px;">
        <img src="https://mdbcdn.b-cdn.net/img/new/slides/017.webp" class="card-img" alt="Stony Beach" />
        <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.3)">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.
            </p>
            <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div> -->

    <%- include('pages/footer') %>