<%- include('pages/layout_main') %>
    <%- include('pages/slider') %>

        <!-- https://templatemo.com/tag/landing-page 
https://dev.to/davidepacilio/40-free-html-landing-page-templates-3gfp 
https://medium.com/techgeekbuzz/10-free-html-landing-page-templates-8763d3faa3e3 
https://onepagelove.com/templates/free-templates/page/6
https://www.codewithfaraz.com/content/55/create-a-responsive-hotel-landing-page-to-boost-bookings
https://github.com/topics/hotel-website
-->
        <!-- Clarity Section -->
        <div class="container">
            <div class="shape-container">
                <diV class="shape originBottomLeft">
                    <div class="row">
                        <div class="column-35">
                            <div id="image-pan">
                                <img src="/images/onesilidlink_logo.png" alt="OSL"
                                    style="max-width: 100%; height: auto;">
                            </div>
                        </div>
                        <div class="column-65">
                            <h1 class="large-font" style="color:#244624;"><b>About One Solid Link</b></h1>
                            <p style="font-size: 20px;color:rgb(252, 252, 252);">
                                Introduction: One Solid Link is a leading company dedicated to simplifying the process
                                of
                                meeting planning, venue selection, and team-building facilitation. We understand the
                                challenges organizations face when arranging events and have developed a comprehensive
                                suite
                                of services to ensure success.

                                Our Mission: At One Solid Link, our mission is to make event planning easy, efficient,
                                and
                                enjoyable for our clients.

                                Our Team: Meet the passionate individuals behind One Solid Link who are committed to
                                providing top-notch services for your events.
                            </p>
                        </div>
                    </div>
                </diV>
            </div>
        </div>

        <!-- <div class="container"> -->
            <div class="grid">
                <!-- Section 1 -->
                <div class="grid__item">
                    <div class="card">
                        <img class="card__img"
                            src="https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2250&amp;q=80"
                            alt="Snowy Mountains">
                        <!-- <h1 class="xlarge-font"><b>The App</b></h1> -->
                        <!-- <h1 class="large-font" style="color: rgb(246, 118, 33);"><b>Ancillary Services:</b></h1> -->
                        <!-- <button class="button">Download Application</button> -->
                        <div class="card__content">
                            <!-- <h1 class="large-font" style="color: rgb(246, 118, 33);"><b>Venue Selection:</b></h1> -->
                            <h1 class="card__header" style="color: rgb(246, 118, 33);">Venue Selection</h1>
                            <p class="card__text">Venue Types: Explore the wide range of venue options we offer, from
                                luxurious
                                hotels to state-of-the-art conference centers, ensuring we meet your specific event
                                requirements.
                                Venue Search: Learn about our venue search tools and assistance that streamline the
                                selection
                                process.
                                Venue Portfolio: Check out our portfolio of venues with detailed information and visuals
                                to
                                help
                                you make informed decisions.</p>
                            <!-- <a href="book" class="card__btn">BOOK NOW! <span>&rarr;</span></a> -->
                        </div>
                    </div>
                </div>
                <!-- Section 2 -->
                <div class="grid__item">
                    <div class="card"><img class="card__img"
                            src="https://images.unsplash.com/photo-1485160497022-3e09382fb310?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2250&amp;q=80"
                            alt="Desert">
                        <div class="card__content">

                            <h1 class="card__header" style="color: rgb(246, 118, 33);">Accomodation </h1>
                            <p class="card__text">Accommodation Services: Understand how we handle all your
                                accommodation
                                needs,
                                securing special rates and managing room allocations for event participants.
                                Hotel Partners: Learn about our network of partner hotels and the benefits of booking
                                through
                                One Solid Link.
                                Group Bookings: Discover our efficient group booking solutions that make the
                                accommodation
                                process hassle-free.
                            </p>
                            <!-- <button class="card__btn">Explore <span>&rarr;</span></button> -->
                        </div>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="card"><img class="card__img"
                            src="https://images.unsplash.com/photo-1485160497022-3e09382fb310?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2250&amp;q=80"
                            alt="Desert">
                        <div class="card__content">
                            <h1 class="card__header" style="color: rgb(246, 118, 33);">Ancillary Services</h1>
                            <p class="card__text">Comprehensive Support: Explore our range of ancillary services,
                                including
                                transportation arrangements, catering coordination, audiovisual support, and more.
                                Tailored Solutions: Find out how we customize these services to match your event's
                                unique
                                requirements.</p>
                            <!-- <button class="card__btn">Explore <span>&rarr;</span></button> -->
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->


        <!-- <div class="row">
        <div class="column">
            <div class="gray-text">
                <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>
        <div class="column">hhh</div>
    </div> -->

        <div class="container">
            <div class="row">
                <div class="column-50">
                    <div class="meeting">
                        <h1>Meetings</h1>
                        <p>Unlock the Potential of Seamless Meetings - Elevate your events to
                            extraordinary with our expert meeting planning services.
                            At One Solid Link, we're committed to crafting meticulously orchestrated
                            meetings that leave a lasting impact. From venue selection to cutting-edge
                            technology, we take care of every detail, ensuring your meetings are
                            stress-free and highly productive. Discover the art of effortless event
                            planning with One Solid Link. Your success is our mission.</p>
                    </div>
                </div>
                <div class="column-50">
                    <div class="incentive">
                        <h1>Incentive</h1>
                        <p>Inspire Excellence, Reward Success - Elevate your business with our incentive solutions. At
                            One Solid Link, we specialize in driving motivation, productivity, and employee
                            engagement through tailor-made incentive programs. Our creative rewards and recognition
                            initiatives empower your team to excel, achieving their goals and beyond. Whether it's
                            boosting sales, enhancing performance, or fostering a culture of excellence, we're your
                            partner in success. Unleash the potential of your organization with One Solid Link. Your
                            goals, our incentives, endless achievements.</p>
                    </div>
                </div>
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="column-50">
                    <div class="conferencing">
                        <h1>Conferencing</h1>
                        <p>Elevate Your Conferencing Experience - Transform your gatherings into dynamic and engaging
                            conferences with One Solid Link. Our commitment to excellence and innovative solutions
                            ensures your conferences run seamlessly, whether it's a corporate summit, industry seminar,
                            or product launch. From state-of-the-art venues to top-notch audiovisual support, we've got
                            all the elements to make your conference unforgettable. Partner with us and redefine the way
                            you confer. Your success, our expertise.</p>
                    </div>
                </div>
                <div class="column-50">
                    <div class="events">
                        <h1>Events</h1>
                        <p>Crafting Memorable Moments - At One Solid Link, we turn your dreams into reality with
                            our exceptional event planning services. Whether it's a wedding, corporate gathering, or
                            special celebration, our team of experts transforms your vision into a stunning reality.
                            From venue selection to creative design and flawless execution, we're committed to creating
                            memorable moments that leave a lasting impression. Partner with us to make your event
                            extraordinary. Your vision, our expertise.</p>
                    </div>
                </div>
                </p>
            </div>
        </div>

        <div class="container">
            <div class="shape-container">
                <div class="shape originTopRight">
                    <div class="row">

                        <div class="column-65">
                            <h1 class="large-font" style="color:#244624;"><b>Why Choose Us?</b></h1>
                            <p style="font-size:20px; color:rgb(252, 252, 252);">Our Commitment: Learn about our
                                unwavering
                                commitment to excellence,
                                innovation, and customer satisfaction that drives everything we do.
                                Customer Testimonials: Read what our satisfied clients have to say about their
                                experiences
                                working
                                with One Solid Link.
                                Case Studies: Discover real-world examples of how we've transformed events into
                                memorable
                                and
                                successful occasions.
                                Benefits of Collaboration: Understand the benefits of partnering with One Solid Link,
                                such
                                as time
                                and cost savings, improved event outcomes, and peace of mind.</p>
                        </div>
                        <div class="column-35">
                            <div id="image-pan">
                                <img src="/images/image2.png" alt="OSL">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="column-66">
                    <div id="google-map"></div>
                </div>
                <div class="column-33">
                    <h1 class="large-font" style="color:rgb(235, 62, 10);"><b> Contact Us</b></h1>
                    <p style="font-size:26px"><i class="fa fa-address-book" style="font-size:28px;color:red"></i>Contact
                        Information</p>
                    <p style="font-size:20px"><i class="fa fa-mobile" style="font-size:24px;color:red"></i>+254 705
                        679853</p>
                    <p style="font-size:20px"><i class="fa fa-envelope"
                            style="font-size:24px;color:red"></i>info@onesolidlink.com</p>
                    <p style="font-size:20px"><i class="fa fa-map-marker" style="font-size:24px;color:red"></i>Athi
                        River, Machakos</p>
                </div>

            </div>
        </div>
        <div class="container">
            <div>
                <img src="/images/onesilidlink_baner.png" alt="OSL">
            </div>
        </div>

        <%- include('pages/footer') %>