<%- include('pages/layout_main') %>
   
    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll"
        data-image-src="img/meeting-1.jpg">
        <form class="d-flex tm-search-form">
            <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>

    <div class="container-fluid tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">
                🌐 Welcome to One Solid Link – Where Business Flourishes!
            </h2>
        </div>
        <div class="row tm-mb-74 tm-row-1640">

            <div class="col-lg-7 col-md-6 col-12">
                <div class="tm-about-img-text">
                    <p class="mb-4">
                        <b>Unlock the potential of seamless meetings -</b> elevate your events to extraordinary with our
                        expert
                        meeting planning services.
                    </p>
                    <p>
                        <b> At one solid link,</b> we're committed to crafting meticulously
                        orchestrated meetings that leave a lasting impact.
                    </p>
                    <p>From venue selection to cutting-edge
                        technology, we take care of every detail, ensuring your meetings are stress-free and highly
                        productive. Discover the art of effortless event planning with one solid link. Your success is
                        our mission.</p>
                    <div class="text-center">
                        <a href="/events/book" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-12 mb-3">
                <img src="img/meeting-2.jpeg" alt="Image" class="img-fluid">
            </div>
        </div>

        <div class="row tm-mb-50">
            <div class="row mb-4">
                <h2 class="col-12 tm-text-primary">
                    🚀 Why Choose One Solid Link Meetings:
                </h2>
            </div>
            <div class="col-md-4 col-12">
                <div class="tm-about-3-col">
                    <div class="tm-about-icon-container mb-5">
                        <i class="fas fa-desktop fa-3x tm-text-primary"></i>
                    </div>
                    <h2 class="tm-text-primary mb-4">✨ Inspiring Environments:</h2>
                    <p class="mb-4">Step into a world where innovation meets comfort. Our carefully curated venues
                        provide the perfect backdrop for dynamic discussions, brainstorming sessions, and strategic
                        planning. The ambiance is designed to spark creativity and enhance productivity.
                    </p>

                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="tm-about-3-col">
                    <div class="tm-about-icon-container mb-5">
                        <i class="fas fa-mobile-alt fa-3x tm-text-primary"></i>
                    </div>
                    <h2 class="tm-text-primary mb-4">🤝 Networking Opportunities:</h2>
                    <p class="tm-mb-50">Connect with industry leaders, visionaries, and like-minded professionals. Our
                        meetings foster an environment where partnerships are forged, ideas are shared, and
                        relationships are cultivated. Expand your network and open doors to new possibilities.</p>
                    <!-- <div class="text-center">
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div> -->
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="tm-about-3-col">
                    <div class="tm-about-icon-container mb-5">
                        <i class="fas fa-photo-video fa-3x tm-text-primary"></i>
                    </div>
                    <h2 class="tm-text-primary mb-4">📈 Cutting-edge Content: </h2>
                    <p class="mb-4">Stay ahead of the curve with thought-provoking presentations, workshops, and panel
                        discussions. Our meetings feature experts and influencers who share insights, trends, and
                        strategies that can propel your business forward.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row tm-mb-50">

        <div class="col-md-4 col-12">
            <div class="tm-about-3-col">
                <div class="tm-about-icon-container mb-5">
                    <i class="fas fa-desktop fa-3x tm-text-primary"></i>
                </div>
                <h2 class="tm-text-primary mb-4">🌍 Global Perspective, Local Impact:</h2>
                <p class="mb-4">Whether you're a global enterprise or a local business, our meetings offer a diverse
                    perspective with a focus on practical applications. Gain insights that are tailored to your specific
                    market while keeping a global perspective in mind.
                </p>

            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="tm-about-3-col">
                <div class="tm-about-icon-container mb-5">
                    <i class="fas fa-mobile-alt fa-3x tm-text-primary"></i>
                </div>
                <h2 class="tm-text-primary mb-4">🎯 Customized Experiences:</h2>
                <p class="tm-mb-50">Every meeting is unique, just like your business. Our team works closely with you to
                    tailor the agenda, content, and activities to meet your specific objectives. We believe in
                    delivering a personalized experience that exceeds your expectations.</p>
                <!-- <div class="text-center">
                    <a href="#" class="btn btn-primary">Read More</a>
                </div> -->
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="tm-about-3-col">
                <div class="tm-about-icon-container mb-5">
                    <i class="fas fa-photo-video fa-3x tm-text-primary"></i>
                </div>
                <h2 class="tm-text-primary mb-4">🔒 Secure Your Seat at the Table: </h2>
                <p class="mb-4">Don't miss out on the opportunity to be part of transformative discussions that can
                    shape the future of your business. Secure your seat at our upcoming meeting and immerse yourself in
                    an environment where collaboration and innovation thrive.</p>
            </div>
        </div>
    </div>
    </div>

    <%- include('pages/footer') %>