<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="MICE Booking website">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Kennedy Amahaya">
    <!-- <meta http-equiv="refresh" content="20"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="/css/style_mins_1_2.css">
    <title>
        <%= title %>
    </title>

</head>
<!-- https://fontawesome.com/v4/examples/ 
    https://www.w3schools.com/icons/fontawesome5_icons_maps.asp
    https://www.w3schools.com/howto/howto_website_create_free.asp
    https://www.w3schools.com/icons/fontawesome5_icons_maps.asp
    https://www.w3schools.com/html/
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_navbar_icon
    https://alvarotrigo.com/blog/website-footers/
    https://codepen.io/alvarotrigo/pen/GRxxWdQ
    node js cookies
    https://www.section.io/engineering-education/what-are-cookies-nodejs/
    https://www.w3schools.com/colors/colors_mixer.asp
    https://www.w3schools.com/tags/tag_select.asp
    https://github.com/dropways/deskapp
    https://dropways.github.io/deskapp/
-->


    <body>

        <div class="content">
            <div id="top-bar">
                <img src="/images/mice_logo_1.png" alt="Your Logo">
                <div id="right-content">
                    <div class="dropdown">
                        <a href="/"><i class="fa fa-fw fa-home"></i>Home</a>
                       
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn"><i class="fa fa-fw fa-book"></i>Booking</button>
                        <div class="dropdown-content">
                            <a href="/events/eventManagement">Events  Management</a>
                            <a href="/hotels/hotelManagement">Hotel Management</a>
                            <!-- Add more submenu items as needed -->
                        </div>
                    </div>
                    <!-- Repeat the above structure for other menu items -->
                    <div class="dropdown">
                        <button class="dropbtn"><i class="fa fa-fw fa-pencil"></i>News & Resources</button>
                        <div class="dropdown-content">
                            <!-- <a href="#">Submenu Item 1</a>
                            <a href="#">Submenu Item 2</a> -->
                            <!-- Add more submenu items as needed -->
                        </div>
                    </div>
                    <a href="/"><i class="fa fa-fw fa-photo"></i>Gallary</a>
                    <a href="/blog"><i class="fa fa-fw fa-photo"></i>Blogs</a>
                    <a href="#"><i class="fa fa-fw fa-envelope"></i>Contacts</a>
                    <a href="/login"><i class="fa fa-fw fa-user"></i>Login</a>
                </div>
            </div>
        
        
        
            <div id="center-panel">
        <!-- The App Section -->
        
            </div>