<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/templatemo-style.css">
    <!--
    
TemplateMo 556 Catalog-Z

https://templatemo.com/tm-556-catalog-z

-->
</head>

<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <i class="fas fa-crown mr-2"></i>
                One Solid Link
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-link-1 active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-link-2 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Services
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/event">Events</a>
                            <a class="dropdown-item" href="/meetings">Meeting</a>
                            <a class="dropdown-item" href="/accomodation">Accomodation</a>
                            <!-- <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Another Option</a> -->
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-2" href="/gallery">Gallery</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link nav-link-2" href="videos.html">Videos</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link nav-link-3" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-4" href="/contact">Contact</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link nav-link-2" href="/login">Login</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>