<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="MICE Booking website">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Kennedy Amahaya">
    <!-- <meta http-equiv="refresh" content="20"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="/css/style_mins_1_2.css">
    <link rel="stylesheet" href="/css/overlay.css">
    <title>
        <%= title %>
    </title>

</head>
<!-- https://fontawesome.com/v4/examples/ 
    https://www.w3schools.com/icons/fontawesome5_icons_maps.asp
    https://www.w3schools.com/howto/howto_website_create_free.asp
    https://www.w3schools.com/icons/fontawesome5_icons_maps.asp
    https://www.w3schools.com/html/
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_navbar_icon
    https://alvarotrigo.com/blog/website-footers/
    https://codepen.io/alvarotrigo/pen/GRxxWdQ
    node js cookies
    https://www.section.io/engineering-education/what-are-cookies-nodejs/
    forms
    https://blog.hubspot.com/website/html-form-template

    https://codepen.io/b0mh0lt/pen/ybqEKN
    https://codepen.io/quietplace/pen/QxdyKK?editors=1010
    https://blog.hubspot.com/website/html-form-template
    https://www.w3docs.com/learn-html/html-form-templates.html
-->

    <div id="top-bar">
        <img src="/images/mice_logo_1.png" alt="Your Logo">
        <div id="right-content">
            <div class="dropdown">
                <a href="/" class="custom-link"><i class="fa fa-fw fa-home"></i>Home</a>
               
            </div>
            <div class="dropdown">
                <button class="dropbtn"><i class="fa fa-fw fa-book"></i>Booking</button>
                <div class="dropdown-content">
                    <a href="/events/eventManagement" class="custom-link">Events  Management</a>
                    <a href="/hotels/hotelManagement" class="custom-link">Hotel Management</a>
                    <!-- Add more submenu items as needed -->
                </div>
            </div>
            <!-- Repeat the above structure for other menu items -->
            <!-- <div class="dropdown">
                <button class="dropbtn"><i class="fa fa-fw fa-pencil"></i>News & Resources</button>
                <div class="dropdown-content">
                    <a href="/gallary" class="custom-link">Gallary</a>
                    <a href="/blog" class="custom-link"><i class="fa fa-fw fa-photo"></i>Blogs</a>
                     <a href="#">Submenu Item 1</a>
                    <a href="#">Submenu Item 2</a> 
                    
                </div>
            </div>
            <a href="/about" class="custom-link"><i class="fa fa-fw fa-photo"></i>About</a>
        
            <a href="/blog" class="custom-link"><i class="fa fa-fw fa-photo"></i>Blogs</a> -->
            <a href="/gallery" class="custom-link">Gallary</a>
            <a href="/contact" class="custom-link"><i class="fa fa-fw fa-envelope"></i>Contacts</a>
            <a href="login" class="custom-link"><i class="fa fa-fw fa-user"></i>Login</a>
        </div>
    </div>



    

    <body>