<div id="center-panel">

    <div class="slideshow-container">

        <div class="mySlides fade">
            <div class="numbertext">1 / 6</div>
            <div class="parent">
                <img src="/images/mice_events/IMG-20231005-WA0020.jpg" style="width:100%">
                <div class="text">Unlock the Potential of Seamless Meetings - 
                    Elevate your events to extraordinary with our expert meeting
                     planning services. Discover the art of effortless event planning. 
                     Your success is our mission.</div>
            </div>
            
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 6</div>
            <div class="parent">
                <img src="/images/mice_events/IMG-20231005-WA0025.jpg" style="width:100%">
                <div class="text">
                    Experience Exceptional Accommodation, we redefine hospitality, offering more than just a place to stay. Your comfort, our priority.</div>
            </div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 6</div>
            <div class="parent">
                <img src="/images/mice_events/IMG-20231005-WA0027.jpg" style="width:100%">
                <div class="text">Elevate Your Conferencing Experience - 
                    Transform your gatherings into dynamic and engaging 
                    conferences. Partner with us and redefine the way you confer.
                     Your success, our expertise.</div>
            </div>               
        </div>
        <div class="mySlides fade">
            <div class="numbertext">4 / 6</div>
            <div class="parent">
                <img src="/images/mice_events/IMG-20231005-WA0012.jpg" style="width:100%">
                <div class="text">Savor Every Moment - Indulge in culinary excellence with our impeccable catering services. 
                    Your occasion, our culinary masterpiece.</div>
            </div>
            
        </div>
        <div class="mySlides fade">
            <div class="numbertext">5 / 6</div>
            <div class="parent">
                <img src="/images/mice_events/IMG-20231006-WA0023.jpg" style="width:100%">
                <div class="text">Empower Your Team, Ignite Success - Unlock the full potential of your team with our expert team-building services. </div>
            </div>
            
        </div>
        <div class="mySlides fade">
            <div class="numbertext">6 / 6</div>
            <div class="parent">
                <img src="/images/mice_events/IMG-20231005-WA0019.jpg" style="width:100%">
                <div class="text">Crafting Memorable Moments - we turn your dreams into reality
                     with our exceptional event planning services. Partner with us to make your 
                     event extraordinary. Your vision, our expertise.</div>
            </div>
           
        </div>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    <!-- The App Section -->

</div>